/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chango', cursive;
    background-color: lightblue;
}

.container {
    width: 70%;
    margin: 30px auto;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
    height: 80px;
    line-height: 80px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

/* main */
.carta {
    margin: 10px;
    float: left;
    width: calc(100% / 4 - 20px);
    height: 280px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

section {
    margin: 20px 0;
}

.pattern {
    height: 100%;
    background-size: 100%;
    background-image: url("../img/pattern.png");
}

.img-air-ballon,
.img-bicycle,
.img-ship,
.img-submarine,
.img-tractor,
.img-air-ballon-cover {
    width: 100%;
    padding: 20px;
}

.img-bicycle,
.img-ship,
.img-submarine,
.img-tractor,
.img-air-ballon-cover {
    visibility: hidden;
}

.blue,
.orange,
.yellow,
.brown,
.fuchsia-cover {
    visibility: hidden;
}

.carta:hover .img-bicycle,
.carta:hover .blue,
.carta:hover .img-ship,
.carta:hover .orange,
.carta:hover .img-submarine,
.carta:hover .yellow,
.carta:hover .img-tractor,
.carta:hover .brown,
.carta:hover .img-air-ballon-cover,
.carta:hover .fuchsia-cover {
    visibility: visible;
}
.carta:hover > .pattern {
    visibility: hidden;
}

.text {
    text-align: center;
    font-size: 25px;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.fuchsia,
.fuchsia-cover {
    color: fuchsia;
}

.yellow {
    color: yellow;
}

.brown {
    color: brown;
} 

/* Footer */
footer > p {
    height: 50px;
    line-height: 50px;
    text-align: center;
}