/* debugger */
.container {
    height: 100%;
  /*   background-color: black; */
}

/* header {
    background-color: blueviolet;
} */

main {
    width: 100%;
    background-color: darkcyan;
}

footer {
    height: 50px;
    background-color: coral;
}

/* /debugger */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chango', cursive;
    background-color: lightblue;
}

.container {
    width: 70%;
    margin: 30px auto;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
    height: 80px;
    line-height: 80px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

/* main */
.carta {
    margin: 10px;
    float: left;
    width: calc(100% / 4 - 20px);
    height: 280px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

section {
    margin: 20px 0;
}

.pattern {
    height: 100%;
    background-size: 100%;
    background-image: url("../img/pattern.png");
}

.img-air-ballon,
.img-bicycle,
.img-ship {
    width: 100%;
    padding: 20px;
}

.img-bicycle,
.img-ship {
    visibility: hidden;
}

.blue,
.orange {
    visibility: hidden;
}

.carta:hover .img-bicycle,
.carta:hover .blue,
.carta:hover .img-ship,
.carta:hover .orange  {
    visibility: visible;
}
.carta:hover > .pattern {
    visibility: hidden;
}

.text {
    text-align: center;
    font-size: 25px;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.fuchsia {
    color: fuchsia;
}