/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Chango', cursive;
    background-color: lightblue;
}

.container {
    width: 70%;
    margin: 30px auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
    height: 80px;
    line-height: 80px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

/* main */
.row {
    margin: 20 0px;
}
.card-element {
    float: left;
    margin: 10px;
    width: calc(100% / 4 - 20px);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    background-image: url("../img/pattern.png");
    background-size: contain;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.card-element.active {
    background-image: none;
}

.card-element:hover {
    background-image: none;
}

.card-element img {
    visibility: hidden;
    width: 100%;  
}

.card-element h3 {
    visibility: hidden;
    font-size: 20px;
    line-height: 1.5;
    color: violet;
}

.card-element.active img,
.card-element:hover img,
.card-element:hover h3 {
    visibility: visible;
}
.card-element:hover h3 {
    color: tomato;
}

.card-element.active h3 {
    visibility: visible;
}

.card-element.active h3 {
    visibility: visible;
}

/* Footer */
footer > p {
    height: 50px;
    line-height: 50px;
    text-align: center;
}